<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width">
   <meta name="description" content="Easy access to maternity care and specialised plans">
   <meta name="keywords" content="website making access to all hospital services for the mother and child">
   <meta name="author" content="Anwesha Dash">
   <title>MOTHERLY  | About Us</title>
   <link rel="stylesheet" href="./css/style.css">
</head>
<body>
   <header>
        <div class="container">
         <div id="branding">
          <h1>Motherly</h1> 
         </div>
         <nav>
            <ul>
               <li><a href="/">Home</a></li>
               <li class="current"><a href="/about">About</a></li>
               <li><a href="/services">Services</a></li>
            </ul>
         </nav>
        </div>
   </header>
   
   <section id="newsletter">
        <div class="container">
         <h1>Subscribe to our Newsletter</h1>
         <form action="process.php">
            <input type="email" placeholder="Enter email...">
            <button type="submit" class="button_1">Subscribe</button>
         </form>
        </div>
   </section>
   <section id="main">
      <div class="container">
         <article id="main-col">
          <h1 class="page-title">About Us</h1>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
          <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
        <aside id="sidebar">
          <div class="dark">
          <h3>What We Do</h3>
          <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa </p>
          </div>
          
        </aside>

      </div>
      
   </section>
   <footer>
       <p>Task Force, Copyright &copy; 2019</p>
   </footer>
</body>
</html>