<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Easy access to maternity care and specialised plans">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <meta name="keywords" content="website making access to all hospital services for the mother and child">
  <meta name="author" content="Anwesha Dash">


  <title>MOTHERLY | Welcome</title>
  <link rel="shortcut icon" href="motherly.ico" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    .modal-header, h4, .close {
    background-color: #E5636B;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #C0C0C0;
  }
</style>
</head>

<body>
  <header>
    <div class="container">
      <div id="branding">
        <h1 class="current"><a style="font-size: 25px;" href="/">Motherly</a></h1>
      </div>
      <nav>
        <ul>
          <li class="current"><a href="/">Home</a></li>
          <li><a href="#About">About</a></li>
          <li><a href="#" id="login">Login</a></li>
          <li><a href="#" id="signup">Signup</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section id="showcase">
    <div class="container">
      <img src="/images/homepage.jpg">
      <h1>Motherly- Maternity Planner</h1>
      <p>A web app designed to make the most beautiful time of life to be the most memorable one.</p>
    </div>
  </section>
  <section id="newsletter">
    <div class="container">
      <h1>Subscribe to our Newsletter</h1>
      <form action="/" method="POST">
        <input type="email" placeholder="Enter email..." style="color:black" required>
        <button type="submit" class="button_1">Subscribe</button>
      </form>
    </div>
  </section>
  <section id="boxes">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <h2>Login/Signup</h2>
              </div>
              <div class="flip-box-back">
                <h2>Register Now</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="flip-box2">
            <div class="flip-box-inner2">
              <div class="flip-box-front">
                <h2>Dos/</h2>
              </div>
              <div class="flip-box-back">
                <h2>Register Now</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="flip-box3">
            <div class="flip-box-inner3">
              <div class="flip-box-front3">
                <h2>Dos/</h2>
              </div>
              <div class="flip-box-back3">
                <h2>Register Now</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="main" id="section2">
    <section id="About">
      <div class="container">
        <article id="main-col">
          <h1 class="page-title">About Us</h1>
          <p> The Website is designed with the motive to provide easy access to information and services for the to-be
            mothers</p>
          <p>The most important period of a woman's life is called pregnancy where she is said to be given her second
            life. We design a website that brings in a all total Maternity Planner which aims to make access to all the
            services easier. There are features such as profile personaliser, automatic notifier for routine checkups
            and vaccinations, ambulancego,chatroom with certified doctors registered with their patients and a chatbot
            to automate the procedure of the application.</p>
        </article>
        <aside id="sidebar">
          <div class="dark">
            <h3>What We Do</h3>
            <p>
              This website makes Maternity period planning extrememly easier for the to-be mothers.

              In this digital era we create everything online and rely on Internet for every basic information, with
              Internet becoming cheaper and access reaching to every part of India keeping that in mind we create a
              portal that educates people to lead a healthy maternity period. As we can see the Infant mortality rate
              has come down to so much in the recent years which has been only possible with regular doctor visits,
              care taken both in pre and post partum stages, when to take ultrasound, what diet plans and exercises to
              follow, vaccination information for newborns etc. Together we can bring the rates to much lower by making
              this crucial information accessible to everyone equally.


              There will be a website where to be mothers can check their due date by entering their last menstruation
              date and from then track every part of their gestation period.Users can sign in and upload certain health
              information like height,weight,age and due date and track trimester wise health plans for them provided
              by certified professionals.
              Trimester wise exercise plans along with videos will be available which would ensure a healthy mother and
              a baby.
              According to the requirements the would be mothers will be notified about when to visit doctors and when
              to schedule appointments.
              There can be also consultation with doctors online for minor causes in case there is lack of proper
              medical professionals in their locality

            </p>
          </div>

        </aside>
      </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header" style="padding:35px 50px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
          </div>
          <div class="modal-body" style="padding:40px 50px;">
            <form action="/login" method="POST">
              <div class="form-group">
                <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                <input type="text" class="form-control" id="usrname" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                <input type="text" class="form-control" id="psw" placeholder="Enter password">
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" checked>Remember me</label>
              </div>
              <button type="submit" class="btn-danger"> Login</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>
              Cancel</button>
            <p>Not a member? <a href="#">Sign Up</a></p>
            <p>Forgot <a href="#">Password?</a></p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p>Task Force, Copyright &copy; 2019 <p>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="myModalForSignup" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header" style="padding:35px 50px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4><span class="glyphicon glyphicon-lock"></span> Sign Up for Admin</h4>
          </div>
          <div class="modal-body" style="padding:40px 50px;">
            <form action="/signup" method="POST">
              <div class="form-group">
                <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                <input type="text" class="form-control" id="usrname" placeholder="Enter email" name="usrname">
              </div>
              <div class="form-group">
                <label for="email"><span class="glyphicon glyphicon-envelope"></span> Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
              </div>
              <div class="form-group">
                <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                <input type="password" class="form-control" id="psw" placeholder="Enter password" name="psw">
              </div>
              <div class="form-group">
                <label for="phone"><span class="glyphicon glyphicon-phone"></span> Phone Number</label>
                <input type="number" class="form-control" id="phone" placeholder="Enter Phone Number" name="phone">
              </div>
              <button type="submit" class="btn-danger">SIGN UP</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>
              Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#login").click(function () {
        $("#myModal").modal();
      });
      $("#signup").click(function () {
        $("#myModalForSignup").modal();
      });
    });
  </script>

</body>

</html>