<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
 -->
<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Easy access to maternity care and specialised plans">
	<meta name="keywords" content="website making access to all hospital services for the mother and child">
	<meta name="author" content="Anwesha Dash">
	<title>MOTHERLY | Welcome</title>
	<link rel="shortcut icon" href="motherly.ico" type="image/x-icon">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
	<header>
		<div class="container">
			<div id="branding">
				<h1 class="current"><a style="font-size: 25px;" href="/">Motherly</a></h1>
			</div>
			<nav>
				<ul>
					<li class="current"><a href="/">Home</a></li>
					<li><a href="#About">About</a></li>
					<li><a href="/Login">Login</a></li>
					<li><a href="/Signup">Signup</a></li>

				</ul>
			</nav>
		</div>
	</header>
	<section id="showcase">
		<div class="container">
			<h1>Motherly Some Introduction</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
		</div>
	</section>
	<section id="newsletter">
		<div class="container">
			<h1>Subscribe to our Newsletter</h1>
			<form action="/" method="POST">
				<input type="email" name="email" placeholder="Enter email...">
				<button type="submit" class="button_1">Subscribe</button>
			</form>
		</div>
	</section>
	<section id="boxes">
		<div class="container">
			<div class="box">
				<h3>Login/Sign Up</h3>
				<img src="/images/serrvice3.png">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
			</div>
			<div class="box">
				<h3>SERVICE 2</h3>
				<img src="/images/serrvice3.png">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
			</div>
			<div class="box">
				<h3>SERVICE 3</h3>
				<img src="/images/serrvice3.png">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
			</div>
		</div>

	</section>
	<div class="main" id="About">
		<section id="main">
			<div class="container">
				<article id="main-col">
					<h1 class="page-title">About Us</h1>
					<p> The Website is designed with the motive to provide easy access to information and services for the to-be
						mothers</p>
					<p>Thidshdisfhwifgwoifgaiuagf gfiuwgfiufb ifaifgifgwifbb ufwoifgwofhwoifhw lorrm iopdoj ujdiqjdiqmdqihdubc fwfbig
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
						aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
						enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
						qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
						consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
						quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
						nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
						quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?" </p>
				</article>
				<aside id="sidebar">
					<div class="dark">
						<h3>What We Do</h3>
						<p>The expecting couples can find out their due date and login to get a personalised plan containing workout and
							yoga videos trimester wise, get detailed diet plans, timely notifications regarding doctor visits etc Sed ut
							perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
							eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
							ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
							ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
							adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
							voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
							aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
							nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
					</div>
				</aside>
			</div>
		</section>
		<footer>
			<p>Task Force, Copyright &copy; 2019</p>
		</footer>
	</div>
</body>

</html>