<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Easy access to maternity care and specialised plans">
	<meta name="keywords" content="website making access to all hospital services for the mother and child">
	<meta name="author" content="Anwesha Dash">
	<title>MOTHERLY  |  Videos for Mothers</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<style>
	.navbar{
		overflow: hidden;
		background-color: #333 !important;
		top: 0; /* Position the navbar at the top of the page */
		width: 100%; /* Full width */
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}
.navbar a:hover{
color: green !important;
font--size: 1.5em;
    }
		</style>
</head>
<body>
	<div class="navbar navbar-default">
		<ul class="nav navbar-nav">
	 <!-- <li> <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></li> -->
	 <li><a href="/">Home</a></li>
	 <li> <a href="/users/videos">Videos</a></li>
	  <li><a href="/users/diet">Diet & Maternity Planner</a></li>
	  <li><a href="/users/schemes">Schemes</a></li>
	  <li><a href="/users/chatbot">Chatbot</a></li>
	  <li><a href="/users/chatroom">Chatroom</a></li>
		<li><a href="http://ambulancego.herokuapp.com/">AmbulanceGo</a></li>
		<li><a href="/logout">Logout</a></li>
	</ul>
	</div>
   <header>
   	  <div class="container">
   	  	<div id="branding">
   	  	 <h1>Motherly</h1>
   	  	</div>
   	  	<nav>
   	  		<ul>
   	  			<li class="current"><a href="/">Videos</a></li>

   	  		</ul>
   	  	</nav>
   	  </div>
   </header>

   <section id="newsletter">
   	  <div class="container">
   	  	<h1>Exercise Plan for the best by the best</h1>

   	  </div>
   </section>
   <section id="Videos">
   	<div class="iframe">
   		<div class="vid">
   			<h3>Trimester 1</h3>
   			<iframe id="1" src="https://www.youtube.com/embed/yjhy_PL8Im8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen>
            </iframe>
   			<p>Breathing and Stretching Exercises to do during pregnancy</p>
            <iframe id="2" src="https://www.youtube.com/embed/-EtiQWaWujw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"  frameborder="0" >
            </iframe>
            <p>Gental Pre-Natal Yoga for First Trimester</p>
   		</div>
   	</div>

   </section>
   <footer>
   	 <p>Task Force, Copyright &copy; 2019</p>
   </footer>
</body>
</html>
