<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Easy access to maternity care and specialised plans">
	<meta name="keywords" content="website making access to all hospital services for the mother and child">
	<meta name="author" content="Anwesha Dash">
	<title>MOTHERLY  |  Videos for Mothers</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
   <header>
   	  <div class="container">
   	  	<div id="branding">
   	  	 <h1>Motherly</h1> 
   	  	</div>
   	  	<nav>
   	  		<ul>
   	  			<li class="current"><a href="/">Videos</a></li>
   	  			<li><a href="/">Home</a></li>
   	  			
   	  		</ul>
   	  	</nav>
   	  </div>
   </header>
   
   <section id="newsletter">
   	  <div class="container">
   	  	<h1>Subscribe to our Newsletter</h1>
   	  	<form action="process.php">
   	  		<input type="email" placeholder="Enter email...">
   	  		<button type="submit" class="button_1">Subscribe</button>
   	  	</form>
   	  </div>
   </section>
   <section id="Videos">
   	<div class="iframe">
   		<div class="vid">
   			<h3>Trimester 1</h3>
   			<iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
   			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
   		</div>
   		<div class="vid">
   			<h3>Trimester 2</h3>
   			<img src="/images/serrvice3.png" >
   			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
   		</div>
   		<div class="vid">
   			<h3>Trimester 3</h3>
   			<img src="/images/serrvice3.png" >
   			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
   		</div>
   	</div>
   	
   </section>
   <footer>
   	 <p>Task Force, Copyright &copy; 2019</p>
   </footer>
</body>
</html>